#backgroundlogin {
 background: url(../img/pizzacat.jpg) no-repeat center fixed;
 background-size: cover;
}

h2 {
color: #f43691;
position: relative;
left: 35%;
top: 45%;
}

h3 {
color: #f44346;
text-align: center;
}

.button {
  display: inline-block;
  border-radius: 12px;
  background-color: #f43691;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: 240px;
  position: relative; 
  top: 170px;
  left: 0px;

}
/* postition was static
top: 75px
left:80px*/
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

#background-notexist {
 background: url(../img/notexist.jpeg) no-repeat center fixed;
 background-size: cover;
}

#notexist {
  color: #f43691;
  font-size: 50px;
  padding-left: 20px;
}