body {
  background-color: #f3f3f3;
  font-family: 'Lucida Grande', Helvetica, Arial, 'Sans-Serif';
  margin: 0;
}

body,
html {
  height: 100%;
}

.error {
  font-family: "segoe ui" "Lucida Grande";
  padding: 25px 25px;
  width: 430px;
  position: absolute;
  left: 50%;
  top: 20px;
  margin-left: -215px;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  text-align: center;
}

.error p {
  background: url(../images/error.png) no-repeat 0 center;
  margin: 0px;
  padding-left: 26px;
  display: inline-block;
}

#page,
#payments {
  height: 98%;
  margin: 1%;
}

#signup,
#login,
#password-recovery,
#clients-area {
  font-family: Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", FreeSans, Sans-serif;
  color: #383838;
  font-size: 14px;
  max-height: 465px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  /*input[type="checkbox"] {
    display:none;
  }

  input[type="checkbox"] + label {
  }

  input[type="checkbox"] + label span {
    display:inline-block;
    width:14px;
    height:14px;
    margin: -4px 10px 0 0;
    vertical-align:middle;
    background:url(../images/checkbox.png) left top no-repeat;
    cursor:pointer;
  }

  input[type="checkbox"]:checked + label span {
    background:url(../images/checkbox.png) -14px top no-repeat;
  }*/
}

#signup .login-footer,
#signup .login-header,
#login .login-footer,
#login .login-header,
#password-recovery .login-footer,
#password-recovery .login-header,
#clients-area .login-footer,
#clients-area .login-header {
  background: rgba(255, 255, 255, 0.55);
  text-align: center;
}

#signup .login-header,
#login .login-header,
#password-recovery .login-header,
#clients-area .login-header {
  padding: 56px 0 49px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

#signup .login-footer,
#login .login-footer,
#password-recovery .login-footer,
#clients-area .login-footer {
  padding: 30px 0;
  font-style: italic;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

#signup .logo,
#login .logo,
#password-recovery .logo,
#clients-area .logo {
  width: 110.25pt;
  height: 26.25pt;
  margin: 0 auto;
}

#signup .logo span,
#login .logo span,
#password-recovery .logo span,
#clients-area .logo span {
  display: block;
  width: 100%;
  height: 100%;
}

#signup form,
#login form,
#password-recovery form,
#clients-area form {
  padding: 40px 85px 9px;
}

#signup .logo .color,
#login .logo .color,
#password-recovery .logo .color,
#clients-area .logo .color {
  background: transparent url(../images/logo/logo-color.svg) no-repeat center center;
}

#signup .page-title,
#login .page-title,
#password-recovery .page-title,
#clients-area .page-title {
  font-size: 20px;
  padding-bottom: 16px;
  text-align: center;
}

#signup .page-content,
#login .page-content,
#password-recovery .page-content,
#clients-area .page-content {
  text-align: center;
  padding: 15px 20px;
}

#signup .password-title,
#login .password-title,
#password-recovery .password-title,
#clients-area .password-title {
  padding: 15px 30px 5px 30px;
  text-align: center;
}

#signup .page-title-small,
#login .page-title-small,
#password-recovery .page-title-small,
#clients-area .page-title-small {
  font-size: 14px;
  padding-bottom: 16px;
  text-align: center;
}

#signup a,
#login a,
#password-recovery a,
#clients-area a {
  color: #56a434;
}

#signup *,
#login *,
#password-recovery *,
#clients-area * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#signup table,
#login table,
#password-recovery table,
#clients-area table {
  border-collapse: collapse;
  border-spacing: 0px;
  width: 100%;
}

#signup td,
#login td,
#password-recovery td,
#clients-area td {
  padding: 0px 0px 20px;
}

#signup .remember-me,
#login .remember-me,
#password-recovery .remember-me,
#clients-area .remember-me {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}

#signup .remember-me input,
#login .remember-me input,
#password-recovery .remember-me input,
#clients-area .remember-me input {
  width: 13px;
  height: 13px;
  padding: 0;
  margin: 0 5px 0 0;
  vertical-align: middle;
  position: relative;
  top: -1px;
  *overflow: hidden;
}

#signup *:focus,
#login *:focus,
#password-recovery *:focus,
#clients-area *:focus {
  outline: none;
}

#signup input[type="submit"],
#login input[type="submit"],
#password-recovery input[type="submit"],
#clients-area input[type="submit"] {
  margin-left: 0px;
  margin-right: 10px;
}

#signup input[type="submit"],
#login input[type="submit"],
#password-recovery input[type="submit"],
#clients-area input[type="submit"] {
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  height: 35px;
  min-width: 77px;
  font-size: 12px;
  color: #FFFFFF;
  padding: 0px 18px;
  background-color: #6eb755;
  border: 1px solid #519d38;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
}

#signup input[type="submit"]:hover,
#login input[type="submit"]:hover,
#password-recovery input[type="submit"]:hover,
#clients-area input[type="submit"]:hover {
  background-color: #7ac460;
  border-color: #49982f;
  -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.1);
}

#signup input[type="submit"]:active,
#login input[type="submit"]:active,
#password-recovery input[type="submit"]:active,
#clients-area input[type="submit"]:active {
  -webkit-box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.16);
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.16);
}

#signup .sign-up-btn,
#login .sign-up-btn,
#password-recovery .sign-up-btn,
#clients-area .sign-up-btn {
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  height: 35px;
  text-decoration: none;
  color: #383838;
  padding: 11px 19px 10px 19px;
  background-color: #f4f4f4;
  border: 1px solid #dbdbdb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 12px;
}

#signup .sign-up-btn:hover,
#login .sign-up-btn:hover,
#password-recovery .sign-up-btn:hover,
#clients-area .sign-up-btn:hover {
  background-color: #eaeaea;
  border-color: #d1d1d1;
  -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.1);
}

#signup .sign-up-btn:active,
#login .sign-up-btn:active,
#password-recovery .sign-up-btn:active,
#clients-area .sign-up-btn:active {
  -webkit-box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.06) 0px 1px 1px 0px;
  -moz-box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.06) 0px 1px 1px 0px;
  box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.06) 0px 1px 1px 0px;
}

#signup input[type="text"],
#signup input[type="password"],
#login input[type="text"],
#login input[type="password"],
#password-recovery input[type="text"],
#password-recovery input[type="password"],
#clients-area input[type="text"],
#clients-area input[type="password"] {
  font-size: 14px;
  height: 35px;
  margin: 0px;
  padding: 0px 7px;
  border-width: 1px;
  border-style: solid;
  border-color: #d1d1d1 #e7e7e7 #e7e7e7 #d1d1d1;
  background-color: #FFFFFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  width: 100%;
}

#signup input[type="text"]:focus,
#signup input[type="password"]:focus,
#login input[type="text"]:focus,
#login input[type="password"]:focus,
#password-recovery input[type="text"]:focus,
#password-recovery input[type="password"]:focus,
#clients-area input[type="text"]:focus,
#clients-area input[type="password"]:focus {
  border: 1px solid #6eb755;
}

#signup .label,
#login .label,
#password-recovery .label,
#clients-area .label {
  width: 120px;
  text-align: right;
  font-size: 12px;
  padding-right: 18px;
}

#reset-password,
#first-login,
#page {
  font-family: Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", FreeSans, Sans-serif;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 26px 40px -35px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 26px 40px -35px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 26px 40px -35px rgba(0, 0, 0, 0.6);
  color: #383838;
  font-size: 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 30px;
  padding-top: 1px;
}

#reset-password .page-title,
#first-login .page-title,
#page .page-title {
  font-size: 20px;
  padding-bottom: 16px;
  text-align: center;
}

#reset-password a,
#first-login a,
#page a {
  color: #48a8da;
}

#reset-password *,
#first-login *,
#page * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#reset-password table,
#first-login table,
#page table {
  border-collapse: collapse;
  border-spacing: 0px;
}

#reset-password td,
#first-login td,
#page td {
  padding: 0px 0px 20px;
}

#reset-password .remember-me,
#first-login .remember-me,
#page .remember-me {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}

#reset-password .remember-me input,
#first-login .remember-me input,
#page .remember-me input {
  width: 17px;
  height: 17px;
  padding: 0;
  margin: 0 5px 0 0;
  vertical-align: middle;
  position: relative;
  top: 0;
  *overflow: hidden;
}

#reset-password input[type="submit"],
#first-login input[type="submit"],
#page input[type="submit"] {
  margin-left: 0px;
  margin-right: 10px;
}

#reset-password input[type="submit"],
#first-login input[type="submit"],
#page input[type="submit"] {
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px 0px;
  height: 35px;
  color: #FFFFFF;
  padding: 0px 18px;
  font-size: 12px;
  font-weight: bold;
  background-color: #4b9b2c;
  border: 1px solid #438f25;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
}

#reset-password input[type="submit"]:hover,
#first-login input[type="submit"]:hover,
#page input[type="submit"]:hover {
  background-color: #419136;
  border-color: #3D8521;
}

#reset-password input[type="submit"]:active,
#first-login input[type="submit"]:active,
#page input[type="submit"]:active {
  -webkit-box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.16);
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.16);
}

#reset-password input[type="text"],
#first-login input[type="text"],
#page input[type="text"] {
  font-family: "segoe ui" "Lucida Grande";
}

#reset-password input[type="text"],
#reset-password input[type="password"],
#first-login input[type="text"],
#first-login input[type="password"],
#page input[type="text"],
#page input[type="password"] {
  font-size: 14px;
  height: 35px;
  width: 290px;
  margin: 0px;
  padding: 0px 7px;
  border-width: 1px;
  border-style: solid;
  border-color: #d1d1d1 #e7e7e7 #e7e7e7 #d1d1d1;
  background-color: #FFFFFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

#reset-password .label,
#first-login .label,
#page .label {
  width: 120px;
  text-align: right;
  font-size: 12px;
  padding-right: 18px;
}

.login-bg {
  height: 100%;
  width: 100%;
  background-color: #1a1a1a;
  background-attachment: scroll;
  background-position: 50% 0;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Lucida Grande', Helvetica, Arial, 'Sans-Serif';
  -webkit-transition: background 2s;
  -moz-transition: background 2s;
  -o-transition: background 2s;
  transition: background 2s;
}

#reset-password,
#password-recovery,
#first-login,
#signup,
#login,
#clients-area {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -225px;
  width: 450px;
  height: 465px;
  background: rgba(255, 255, 255, 0.3);
}

#reset-password #company-logo,
#password-recovery #company-logo,
#first-login #company-logo,
#signup #company-logo,
#login #company-logo,
#clients-area #company-logo {
  margin: 40px auto 30px;
  text-align: center;
}

#reset-password #company-logo div,
#password-recovery #company-logo div,
#first-login #company-logo div,
#signup #company-logo div,
#login #company-logo div,
#clients-area #company-logo div {
  width: 200px;
  margin: auto;
}

#reset-password #company-logo div img,
#password-recovery #company-logo div img,
#first-login #company-logo div img,
#signup #company-logo div img,
#login #company-logo div img,
#clients-area #company-logo div img {
  max-height: 100px;
  max-width: 200px;
}

#reset-password {
  margin-top: -125px;
}

#login,
#password-recovery {
  margin-top: -232px;
}

#first-login {
  margin-top: -188px;
}

#reset-password h1,
#password-recovery h1,
#first-login h1 {
  text-align: center;
}

#reset-password h2,
#password-recovery h2,
#first-login h2 {
  font-size: 15px;
  text-align: center;
  margin-bottom: 50px;
}

#clients-area {
  margin-top: -232px;
}

#clients-area .label {
  font-size: 14px;
}

#clients-area form {
  padding-top: 14px;
}

#clients-area form.loading input[type="submit"] {
  padding-left: 40px;
  background-position: 10px center;
}

#signup {
  margin-top: -232px;
}

#signup form {
  padding-top: 14px;
}

#signup form.loading input[type="submit"] {
  padding-left: 40px;
  background-position: 10px center;
}

.blur {
  height: 465px;
  width: 450px;
  position: absolute;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.blur:after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
}

img.bg,
img.form-bg {
  min-height: 100%;
  width: 100%;
  height: auto;
  background-size: contain;
  position: fixed;
  top: 0;
  left: 0;
}

#password-recovery {
  height: 395px;
}

#password-recovery form {
  padding-top: 14px;
}

#password-recovery .page-title {
  padding-bottom: 0px;
}

#password-recovery .page-content {
  padding: 10px 0px;
}

#password-recovery td {
  padding-top: 10px;
}

#payments {
  padding-top: 40px;
  font-family: Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", FreeSans, Sans-serif;
  background-color: #ffffff;
  color: #383838;
  font-size: 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 30px;
  /**{
  @include box-sizing(border-box); }*/
}

#payments th {
  background-color: #f8f8f8;
}

#payments td,
#payments th {
  padding-right: 40px;
  text-align: left;
}

#payments .beneficiary {
  white-space: pre;
}

#payments table.details td {
  padding: 5px 0px;
  font-weight: bold;
}

#payments table.details label {
  font-weight: normal;
  padding-right: 10px;
}

#payments h3 label {
  font-weight: normal;
}

#payments .error {
  margin: 0;
}

#payments .trigger {
  margin-bottom: 10px;
}

#payments .button-ct {
  padding: 0px 10px 5px 0px;
}

#payments .page-title {
  font-size: 20px;
  padding-bottom: 16px;
  text-align: center;
}

#payments a {
  color: #48a8da;
}

#payments table {
  border-collapse: collapse;
  border-spacing: 0px;
}

#payments td {
  padding: 0px 0px 20px;
}
